body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4EFE7;
}

h1 {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.top-container-div h2{
  color: white;
}
.pro 
{
  color: red;
}

h3 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.navbar{
  height: 8vh;
  display: flex;
  justify-items: flex-start;
}
.navbar-brand img{
 height: 125px;
 width: 125px;
 margin-left: 5em;
 margin-top: 0;
}

.top-container {
  background-image: url(/images/slanted-gradient.svg);
  background-repeat:no-repeat;
  /* background:fixed; */
  padding-left: 0;
  padding-right: 0;
  position: relative;
  padding-top: 0;
  margin-top: 0;
  align-items: center;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  flex-direction:column ;
  
}

.top-container-div  {
  align-content: center;
  padding: auto;

}

.social-menu ul{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 10px;
  line-height: 30px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a{
  /* position: relative; */
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #000;
}

.middle-container {
  margin: 100px 0;
  background-color: #E4EFE7;
  
}

.bottom-container {
  background-color: black;
  padding: 50px 0 20px;
 
}

.edu-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.inter {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #d41111;
  background-image: -webkit-linear-gradient(top, #d41111, #d41111);
  background-image: -moz-linear-gradient(top, #d41111, #d41111);
  background-image: -ms-linear-gradient(top, #d41111, #d41111);
  background-image: -o-linear-gradient(top, #d41111, #d41111);
  background-image: linear-gradient(to bottom, #d41111, #d41111);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
